.img-bg {
  @apply relative z-10;
  width: calc(100% - 20px);
}
.img-bg::after {
  @apply content-[""] absolute top-0 left-0 w-full h-full bg-blue-300 rounded-lg  bg-left-top;
  background-size: 10px 10px;
  transform: translate(20px, 20px);
  z-index: -1;
}
